body{
    background-color: black;
    display: flex;
    justify-content: center;
}
.container{
    width: 550px;
    height: 600px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-div{
    width: 550px;
    height: 170px;
    background-color: rgba(0, 0, 14, 0.822);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.first-div section{
    color: white;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.first-div a{
    color: green;
    font-style: italic;
    font-weight: bold;
}
.first-div img{
    width: 130px;
    height: 130px;
    border-radius: 100px;
}
.second-div{
    width: 550px;
    height: 160px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.second-div img{
    width: 80px;
    height: 80px;
}
.third-div{
    width: 550px;
    height: 110px;
    background-color: rgba(58, 57, 57, 0.288);
}
.fourth-div{
    width: 550px;
    height: 120px;
    background-color: white;
}
p{
    font-style: italic;
    color: gold;
}
button{
    background-color: green;
    color: white;
    width: 150px;
    border-radius: 75px;
}
h2{
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.testimony p{
    font-style: italic;
    line-height: 2px;
    margin: 20px 100px;
}
.author{
    margin: 10px 200px;
}
.footer{
    width: 450px;
    height: 100px;
    background-color: blue;
    margin: 10px 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer button{
    width: 50px;
    height: 50px;
}